body
{
    background-color: #333;
    margin: 0;
    padding: 0;
}
.container, .menu
{
   height: 100px;
   width: 100px;
   position: absolute;
   margin: auto;
   top: 20px;
   bottom: 0;
   left: 25px;
   right: 0;
   cursor: pointer;   
}
.menu
{
    z-index:-1;
    transform:scale(0.9);
}
.toggle
{
    height: 0px;
    width: 40px;
    border-bottom: 30px solid #f90;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
}
.toggle::before
{
    content: '';
    position: absolute;
    height: 0px;
    width: 40px;
    border-top: 30px solid #f90;
    border-right: 15px solid;
}